@model DogGo.Models.ViewModels.ProfileViewModel

@{
    ViewData["Title"] = "Profile";
}
<div>
    <h1 class="mb-4">Walker Profile</h1>

    <section class="container">
        <img style="width:100px;float:left;margin-right:20px"
             src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Font_Awesome_5_regular_user-circle.svg" />
        <div>
            <label class="font-weight-bold">Name:</label>
            <span>@Model.Walker.Name</span>
        </div>
        <div>
            <label class="font-weight-bold">Neighborhood:</label>
            <span>@Model.Walker.Neighborhood.Name</span>
        </div>
    </section>

    <hr class="mt-5" />
    <div class="clearfix"></div>

    <div class="row">
        <section class="col-8 container mt-5">
            <h1 class="text-left">Recent Walks</h1>

            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Client
                            </th>
                            <th>
                                Duration
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                @foreach (Walks walk in Model.Walks)
                {
                    <div class="card m-4" style="width: 18rem;">
                        @if (String.IsNullOrEmpty(walk.Walker.Name))
                        {
                            <div>
                                <span>Nothing to see here. No friggin recent walks not a single one!</span>
                            </div>

                        }
                        else
                        {

                                <tbody>
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => walk.Date)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => walk.Dog.Owner.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => walk.Duration)
                                            </td>
                                        </tr>
                   
                                </tbody>
                        }
                        </div>

                }
            </table>
            </div>
        </section>

        <section class="col-lg-4 col-md-8 container mt-5">
            <h1>Total Walk Time: </h1>
        </section>
    </div>
</div>