@model DogGo.Models.ViewModels.ProfileViewModel

@{
    ViewData["Title"] = "Profile";
}
<div class="container-fluid detailsPage">
<div>
    <div class="walkerProfile">
    <h1 class="p-lg-3" style="margin-left: 18rem;">Walker Profile</h1>

    <section class="container walkerProfile">
        <img style="width:100px;float:left;margin-right:0;padding-bottom:1rem;"
             src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Font_Awesome_5_regular_user-circle.svg" />
        <div style="padding-top: 2rem; margin-left: 7.5rem;">
            <label class="font-weight-bold">Name:</label>
            <span>@Model.Walker.Name</span>
        </div>
                <div style="margin-left: 7.5rem;">
            <label class="font-weight-bold">Neighborhood:</label>
            <span>@Model.Walker.Neighborhood.Name</span>
        </div>
    </section>
    <div class="clearfix walkerProfile"></div>
    </div>

    <div class="row" style="min-height: 100vh;">
        <section class="col-8 container mt-5">
            <div class="table-container">
              <h2 class="text-left">Recent Walks</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Client
                            </th>
                            <th>
                                Duration
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                @foreach (Walks walk in Model.Walks)
                {
                    <div class="card no-decoration" style="width: 18rem;">
                        @if (String.IsNullOrEmpty(walk.Walker.Name))
                        {
                            <div>
                                <span>Nothing to see here. No friggin recent walks not a single one!</span>
                            </div>

                        }
                        else
                        {

                                <tbody>
                                        <tr class="no-decoration">
                                            <td class="no-decoration">
                                                @walk.Date.ToString("MM/dd/yyyy")
                                            </td>
                                            <td class="no-decoration">
                                                @Html.DisplayFor(modelItem => walk.Dog.Owner.Name)
                                            </td>
                                            <td class="no-decoration">
                                                @(walk.Duration / 60) min
                                            </td>
                                        </tr>
                   
                                </tbody>
                        }
                        </div>

                }
            </table>
            </div>
        </section>

        <section class="col-lg-4 col-md-8 container walkTime mb-5">
            @{
                int duration = Model.Walks.Sum(i => i.Duration);
                int hours;
                int minutes;
                int remainingMinutes;
                if (duration >= 60)
                {
                    minutes = duration / 60;
                    hours = minutes / 60;
                    remainingMinutes = minutes % 60;
                }
                else
                {
                    hours = 0;
                    remainingMinutes = 0;
                    minutes = duration / 60;
                }
            }

        <h2 class="mt-5" style="padding-left: 2rem;">
                <span style="color: grey;">Total Walk Time:</span>
            
                   @(hours >= 1 ? hours.ToString() + " hr " + remainingMinutes.ToString() + " min" : minutes + " min")

                   </h2>
        </section>
    </div>
</div>
</div>